
.brand
	padding 25px 0 30px
	background-color #fff

	.col
		vertical-align middle

	.social
		social(50px)

		a
			color #ccc
			transit color
			margin 0 20px

			&:hover
				color #666
