
.callto
	$offset = 28px

	background-repeat no-repeat
	background-size cover
	background-position center
	background-attachment fixed
	background-image url('../img/callto.jpg')
	padding 60px 0
	text-align center
	color #fff

	h2
		divider(#fff, $offset, 64px, true)

		font-size toem(36)
		font-weight normal
		text-transform uppercase
		color inherit
		letter-spacing 0.02em

	p
		opacity .8
		font-weight 300
		font-size 1.1em
		font-family $font-rl
		margin-bottom $offset



