
.features-list
	padding 100px 0

	&.style-1
		background-color #fff

		.image
			text-align left

	&.style-2
		background-color #f5f5f5

		.image
			text-align right

	h2
		divider($main-color, 25px)

	p
		margin-bottom 15px

	img.thumb
		box-shadow 0 5px 20px rgba(0, 0, 0, .8)









