
.main-footer
	background-color #000
	text-align center
	color rgba(#fff, .5)
	padding 15px 5px 8px
	font-size .9em

	.social
		social(23px)

		a
			color #ccc
			transit color

			&:hover
				color #fff

