
.pricing
	background-color #f5f5f5

	.row
		text-align center

	.item
		vertical-align bottom
		padding 10px 20px
		margin-bottom 10px
		transform scale(1)
		transit transform
		max-width 400px

		&:hover
			transform scale(1.01)

	main, header
		color #fff
		background-color $second-color
		text-align center

	header
		padding 17px 5px
		border-bottom 1px solid #fff
		font-size toem(20)
		line-height 1.2
		font-weight bold

	main
		padding 20px 0 0
		margin-bottom 1px

	.price,
	.currency
		font-family $font-rl
		font-weight bold

	.price
		font-size 94px
		line-height 1
		margin-bottom 15px

	.currency
		font-size 35px

	.subcard
		opacity .5
		font-style italic
		font-weight 600
		margin-bottom 15px

	.extra
		border-bottom 4px solid $main-color
		background-color $main-color
		line-height 2.5
		text-transform uppercase

	ul
		list-style none

		li
			background-color #fff
			text-align center
			display block
			color #86878b
			padding 10px 5px
			margin-bottom 1px
			text-transform uppercase
			transit background-color

			&:hover
				background-color #f2f2f2

