
.process
	background-color #fff

	.row
		text-align center

	.item
		text-align center
		padding 10px 10px
		margin-bottom 10px

		&:hover

			.icon span
				background-color $main-color
				color #fff

		.icon

			span
				display inline-block

				width 70px
				height @width
				line-height @width - 5%
				font-size 32px

				border-radius 50%
				margin 0 auto
				border 2px solid $main-color
				text-align center
				color $main-color
				background-color #fff
				transit color, background-color

		.icon, h2
			margin-bottom 20px

		p
			color #86878b






