html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  appearance: textfield;
  box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.row,
.row-fluid {
  font-size: 0;
  display: table;
  width: 100%;
}
.row,
.row-fluid,
.row-block {
  margin-left: auto;
  margin-right: auto;
}
.row-padd {
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  display: inline-block;
  font-size: 14px;
  font-size: 1rem;
  vertical-align: top;
}
.col-mb {
  margin-bottom: 15px;
}
.col-middle {
  vertical-align: middle;
}
.col-top {
  vertical-align: top;
}
.col-bottom {
  vertical-align: bottom;
}
@media only screen and (min-width: 0) {
  .row,
  .row-block {
    max-width: 100%;
  }
  .xs-pull-0 {
    right: 0%;
  }
  .xs-push-0 {
    left: 0%;
  }
  .xs-offset-0 {
    margin-left: 0%;
  }
  .xs-1 {
    width: 8.333333333333334%;
  }
  .xs-pull-1 {
    right: 8.333333333333334%;
  }
  .xs-push-1 {
    left: 8.333333333333334%;
  }
  .xs-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .xs-2 {
    width: 16.666666666666668%;
  }
  .xs-pull-2 {
    right: 16.666666666666668%;
  }
  .xs-push-2 {
    left: 16.666666666666668%;
  }
  .xs-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .xs-3 {
    width: 25%;
  }
  .xs-pull-3 {
    right: 25%;
  }
  .xs-push-3 {
    left: 25%;
  }
  .xs-offset-3 {
    margin-left: 25%;
  }
  .xs-4 {
    width: 33.333333333333336%;
  }
  .xs-pull-4 {
    right: 33.333333333333336%;
  }
  .xs-push-4 {
    left: 33.333333333333336%;
  }
  .xs-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .xs-5 {
    width: 41.66666666666667%;
  }
  .xs-pull-5 {
    right: 41.66666666666667%;
  }
  .xs-push-5 {
    left: 41.66666666666667%;
  }
  .xs-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .xs-6 {
    width: 50%;
  }
  .xs-pull-6 {
    right: 50%;
  }
  .xs-push-6 {
    left: 50%;
  }
  .xs-offset-6 {
    margin-left: 50%;
  }
  .xs-7 {
    width: 58.333333333333336%;
  }
  .xs-pull-7 {
    right: 58.333333333333336%;
  }
  .xs-push-7 {
    left: 58.333333333333336%;
  }
  .xs-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .xs-8 {
    width: 66.66666666666667%;
  }
  .xs-pull-8 {
    right: 66.66666666666667%;
  }
  .xs-push-8 {
    left: 66.66666666666667%;
  }
  .xs-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .xs-9 {
    width: 75%;
  }
  .xs-pull-9 {
    right: 75%;
  }
  .xs-push-9 {
    left: 75%;
  }
  .xs-offset-9 {
    margin-left: 75%;
  }
  .xs-10 {
    width: 83.33333333333334%;
  }
  .xs-pull-10 {
    right: 83.33333333333334%;
  }
  .xs-push-10 {
    left: 83.33333333333334%;
  }
  .xs-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .xs-11 {
    width: 91.66666666666667%;
  }
  .xs-pull-11 {
    right: 91.66666666666667%;
  }
  .xs-push-11 {
    left: 91.66666666666667%;
  }
  .xs-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .xs-12 {
    width: 100%;
  }
  .xs-pull-12 {
    right: 100%;
  }
  .xs-push-12 {
    left: 100%;
  }
  .xs-offset-12 {
    margin-left: 100%;
  }
  .xs-pull-0 {
    right: 0;
  }
  .xs-push-0 {
    left: 0;
  }
  .xs-mb {
    margin-bottom: 15px;
  }
  .xs-offset-0 {
    margin-left: 0;
  }
  .xs-middle {
    vertical-align: middle;
  }
  .xs-top {
    vertical-align: top;
  }
  .xs-bottom {
    vertical-align: bottom;
  }
}
@media only screen and (min-width: 768px) {
  .row,
  .row-block {
    max-width: 750px;
  }
  .sm-pull-0 {
    right: 0%;
  }
  .sm-push-0 {
    left: 0%;
  }
  .sm-offset-0 {
    margin-left: 0%;
  }
  .sm-1 {
    width: 8.333333333333334%;
  }
  .sm-pull-1 {
    right: 8.333333333333334%;
  }
  .sm-push-1 {
    left: 8.333333333333334%;
  }
  .sm-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .sm-2 {
    width: 16.666666666666668%;
  }
  .sm-pull-2 {
    right: 16.666666666666668%;
  }
  .sm-push-2 {
    left: 16.666666666666668%;
  }
  .sm-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .sm-3 {
    width: 25%;
  }
  .sm-pull-3 {
    right: 25%;
  }
  .sm-push-3 {
    left: 25%;
  }
  .sm-offset-3 {
    margin-left: 25%;
  }
  .sm-4 {
    width: 33.333333333333336%;
  }
  .sm-pull-4 {
    right: 33.333333333333336%;
  }
  .sm-push-4 {
    left: 33.333333333333336%;
  }
  .sm-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .sm-5 {
    width: 41.66666666666667%;
  }
  .sm-pull-5 {
    right: 41.66666666666667%;
  }
  .sm-push-5 {
    left: 41.66666666666667%;
  }
  .sm-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .sm-6 {
    width: 50%;
  }
  .sm-pull-6 {
    right: 50%;
  }
  .sm-push-6 {
    left: 50%;
  }
  .sm-offset-6 {
    margin-left: 50%;
  }
  .sm-7 {
    width: 58.333333333333336%;
  }
  .sm-pull-7 {
    right: 58.333333333333336%;
  }
  .sm-push-7 {
    left: 58.333333333333336%;
  }
  .sm-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .sm-8 {
    width: 66.66666666666667%;
  }
  .sm-pull-8 {
    right: 66.66666666666667%;
  }
  .sm-push-8 {
    left: 66.66666666666667%;
  }
  .sm-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .sm-9 {
    width: 75%;
  }
  .sm-pull-9 {
    right: 75%;
  }
  .sm-push-9 {
    left: 75%;
  }
  .sm-offset-9 {
    margin-left: 75%;
  }
  .sm-10 {
    width: 83.33333333333334%;
  }
  .sm-pull-10 {
    right: 83.33333333333334%;
  }
  .sm-push-10 {
    left: 83.33333333333334%;
  }
  .sm-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .sm-11 {
    width: 91.66666666666667%;
  }
  .sm-pull-11 {
    right: 91.66666666666667%;
  }
  .sm-push-11 {
    left: 91.66666666666667%;
  }
  .sm-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .sm-12 {
    width: 100%;
  }
  .sm-pull-12 {
    right: 100%;
  }
  .sm-push-12 {
    left: 100%;
  }
  .sm-offset-12 {
    margin-left: 100%;
  }
  .sm-pull-0 {
    right: 0;
  }
  .sm-push-0 {
    left: 0;
  }
  .sm-mb {
    margin-bottom: 15px;
  }
  .sm-offset-0 {
    margin-left: 0;
  }
  .sm-middle {
    vertical-align: middle;
  }
  .sm-top {
    vertical-align: top;
  }
  .sm-bottom {
    vertical-align: bottom;
  }
}
@media only screen and (min-width: 992px) {
  .row,
  .row-block {
    max-width: 970px;
  }
  .md-pull-0 {
    right: 0%;
  }
  .md-push-0 {
    left: 0%;
  }
  .md-offset-0 {
    margin-left: 0%;
  }
  .md-1 {
    width: 8.333333333333334%;
  }
  .md-pull-1 {
    right: 8.333333333333334%;
  }
  .md-push-1 {
    left: 8.333333333333334%;
  }
  .md-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .md-2 {
    width: 16.666666666666668%;
  }
  .md-pull-2 {
    right: 16.666666666666668%;
  }
  .md-push-2 {
    left: 16.666666666666668%;
  }
  .md-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .md-3 {
    width: 25%;
  }
  .md-pull-3 {
    right: 25%;
  }
  .md-push-3 {
    left: 25%;
  }
  .md-offset-3 {
    margin-left: 25%;
  }
  .md-4 {
    width: 33.333333333333336%;
  }
  .md-pull-4 {
    right: 33.333333333333336%;
  }
  .md-push-4 {
    left: 33.333333333333336%;
  }
  .md-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .md-5 {
    width: 41.66666666666667%;
  }
  .md-pull-5 {
    right: 41.66666666666667%;
  }
  .md-push-5 {
    left: 41.66666666666667%;
  }
  .md-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .md-6 {
    width: 50%;
  }
  .md-pull-6 {
    right: 50%;
  }
  .md-push-6 {
    left: 50%;
  }
  .md-offset-6 {
    margin-left: 50%;
  }
  .md-7 {
    width: 58.333333333333336%;
  }
  .md-pull-7 {
    right: 58.333333333333336%;
  }
  .md-push-7 {
    left: 58.333333333333336%;
  }
  .md-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .md-8 {
    width: 66.66666666666667%;
  }
  .md-pull-8 {
    right: 66.66666666666667%;
  }
  .md-push-8 {
    left: 66.66666666666667%;
  }
  .md-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .md-9 {
    width: 75%;
  }
  .md-pull-9 {
    right: 75%;
  }
  .md-push-9 {
    left: 75%;
  }
  .md-offset-9 {
    margin-left: 75%;
  }
  .md-10 {
    width: 83.33333333333334%;
  }
  .md-pull-10 {
    right: 83.33333333333334%;
  }
  .md-push-10 {
    left: 83.33333333333334%;
  }
  .md-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .md-11 {
    width: 91.66666666666667%;
  }
  .md-pull-11 {
    right: 91.66666666666667%;
  }
  .md-push-11 {
    left: 91.66666666666667%;
  }
  .md-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .md-12 {
    width: 100%;
  }
  .md-pull-12 {
    right: 100%;
  }
  .md-push-12 {
    left: 100%;
  }
  .md-offset-12 {
    margin-left: 100%;
  }
  .md-pull-0 {
    right: 0;
  }
  .md-push-0 {
    left: 0;
  }
  .md-mb {
    margin-bottom: 15px;
  }
  .md-offset-0 {
    margin-left: 0;
  }
  .md-middle {
    vertical-align: middle;
  }
  .md-top {
    vertical-align: top;
  }
  .md-bottom {
    vertical-align: bottom;
  }
}
@media only screen and (min-width: 1200px) {
  .row,
  .row-block {
    max-width: 1170px;
  }
  .lg-pull-0 {
    right: 0%;
  }
  .lg-push-0 {
    left: 0%;
  }
  .lg-offset-0 {
    margin-left: 0%;
  }
  .lg-1 {
    width: 8.333333333333334%;
  }
  .lg-pull-1 {
    right: 8.333333333333334%;
  }
  .lg-push-1 {
    left: 8.333333333333334%;
  }
  .lg-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .lg-2 {
    width: 16.666666666666668%;
  }
  .lg-pull-2 {
    right: 16.666666666666668%;
  }
  .lg-push-2 {
    left: 16.666666666666668%;
  }
  .lg-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .lg-3 {
    width: 25%;
  }
  .lg-pull-3 {
    right: 25%;
  }
  .lg-push-3 {
    left: 25%;
  }
  .lg-offset-3 {
    margin-left: 25%;
  }
  .lg-4 {
    width: 33.333333333333336%;
  }
  .lg-pull-4 {
    right: 33.333333333333336%;
  }
  .lg-push-4 {
    left: 33.333333333333336%;
  }
  .lg-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .lg-5 {
    width: 41.66666666666667%;
  }
  .lg-pull-5 {
    right: 41.66666666666667%;
  }
  .lg-push-5 {
    left: 41.66666666666667%;
  }
  .lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .lg-6 {
    width: 50%;
  }
  .lg-pull-6 {
    right: 50%;
  }
  .lg-push-6 {
    left: 50%;
  }
  .lg-offset-6 {
    margin-left: 50%;
  }
  .lg-7 {
    width: 58.333333333333336%;
  }
  .lg-pull-7 {
    right: 58.333333333333336%;
  }
  .lg-push-7 {
    left: 58.333333333333336%;
  }
  .lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .lg-8 {
    width: 66.66666666666667%;
  }
  .lg-pull-8 {
    right: 66.66666666666667%;
  }
  .lg-push-8 {
    left: 66.66666666666667%;
  }
  .lg-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .lg-9 {
    width: 75%;
  }
  .lg-pull-9 {
    right: 75%;
  }
  .lg-push-9 {
    left: 75%;
  }
  .lg-offset-9 {
    margin-left: 75%;
  }
  .lg-10 {
    width: 83.33333333333334%;
  }
  .lg-pull-10 {
    right: 83.33333333333334%;
  }
  .lg-push-10 {
    left: 83.33333333333334%;
  }
  .lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .lg-11 {
    width: 91.66666666666667%;
  }
  .lg-pull-11 {
    right: 91.66666666666667%;
  }
  .lg-push-11 {
    left: 91.66666666666667%;
  }
  .lg-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .lg-12 {
    width: 100%;
  }
  .lg-pull-12 {
    right: 100%;
  }
  .lg-push-12 {
    left: 100%;
  }
  .lg-offset-12 {
    margin-left: 100%;
  }
  .lg-pull-0 {
    right: 0;
  }
  .lg-push-0 {
    left: 0;
  }
  .lg-mb {
    margin-bottom: 15px;
  }
  .lg-offset-0 {
    margin-left: 0;
  }
  .lg-middle {
    vertical-align: middle;
  }
  .lg-top {
    vertical-align: top;
  }
  .lg-bottom {
    vertical-align: bottom;
  }
}
* {
  box-sizing: border-box;
}
html {
  font: 14px/1.4 'Open Sans', sans-serif;
}
body {
  background-color: #fff;
  color: #86878b;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.57em;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}
h2,
h3 {
  color: #333;
  font-size: 1.43em;
}
a {
  text-decoration: none;
  color: inherit;
}
.clearfix:after,
ul.sublist li:after {
  content: "";
  display: table;
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden;
}
img {
  vertical-align: top;
}
.toggle {
  background-color: transparent;
  border: none;
  outline: none;
  float: right;
  width: 40px;
  height: 27px;
  margin: 0;
  display: none;
/* on activation */
}
.toggle span {
  position: relative;
  display: block;
}
.toggle span:after,
.toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
.toggle span:after {
  top: 9px;
}
.toggle span,
.toggle span:after,
.toggle span:before {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
.toggle.on span {
  background-color: transparent;
}
.toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
.toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
.hidden {
  display: none !important;
}
.btn {
  display: inline-block;
  background: none;
  outline: none;
  border: none;
  text-decoration: none;
  color: inherit;
  padding: 10px 28px;
  color: #fff;
}
.btn-solid {
  background-color: #ff8b38;
  font-weight: 600;
  box-shadow: 0 3px 2px rgba(0,0,0,0.2);
  border-radius: 4px;
  transition: background-color .2s ease-in-out;
}
.btn-solid:hover,
.btn-solid:focus {
  background-color: #ff7919;
}
.btn-outlined {
  border: 2px solid #fff;
  overflow: hidden;
  position: relative;
}
.btn-outlined span {
  position: relative;
}
.btn-outlined:hover:before,
.btn-outlined:focus:before {
  top: 0;
}
.btn-outlined:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0,0,0,0.5);
  transition: top .2s ease-in-out;
}
.input {
  background: none;
  border: none;
  outline: none;
  font: inherit;
  color: #bdbdbd;
  padding: 8px 12px;
  border-bottom: 1px solid #bdbdbd;
  display: block;
  width: 100%;
  transition: border-color .2s ease-in-out;
}
.input:focus {
  border-bottom-color: #ff8b38;
}
.input:-moz-placeholder {
  color: #bdbdbd;
}
.input::-webkit-input-placeholder {
  color: #bdbdbd;
}
img.responsive {
  width: auto;
  max-width: 100%;
}
ul.sublist {
  list-style: none;
  padding: 10px 0;
}
ul.sublist li {
  padding: 15px 0;
}
ul.sublist li:hover span.icon {
  background-color: #ff8b38;
  color: #fff;
}
ul.sublist p.title {
  font-weight: 600;
  color: #212121;
  margin-bottom: 5px;
  font-size: 1.1em;
}
ul.sublist span.icon {
  border: 2px solid #ff8b38;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  color: #ff8b38;
  font-size: 16px;
  float: left;
  margin-right: -70px;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
ul.sublist p {
  float: left;
  margin-left: 70px;
}
.box {
  padding: 90px 0 80px;
}
.box-title {
  text-align: center;
  margin-bottom: 50px;
}
.box-title h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.57em;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2em;
  color: #212121;
}
.box-title h2:after {
  content: '';
  display: block;
  width: 64px;
  height: 2px;
  background-color: #ff8b38;
  margin: 24px auto;
}
.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  padding: 20px 0;
  z-index: 10;
  transition: padding .2s ease-in-out;
}
.main-header .row {
  position: relative;
}
.main-header.fixed {
  position: fixed;
  padding: 12px 0;
}
.logo a {
  display: inline-block;
  vertical-align: middle;
}
.main-nav {
  text-align: right;
  margin: 0 -7px;
}
.main-nav a {
  display: inline-block;
  color: #fff;
  opacity: 0.7;
  transition: opacity .2s ease-in-out;
  padding: 7px 9px;
  margin: 0 7px;
  vertical-align: middle;
}
.main-nav a.active,
.main-nav a.current,
.main-nav a:hover {
  opacity: 1;
}
.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../img/banner.jpg");
  padding: 250px 0 130px;
}
.banner h1 {
  letter-spacing: 0.04em;
  padding-top: 25px;
}
.banner h1:after {
  content: '';
  display: block;
  width: 64px;
  height: 2px;
  background-color: #fff;
  margin: 35px 0;
}
.banner p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.14em;
  color: rgba(255,255,255,0.8);
  line-height: 1.5;
  margin-bottom: 40px;
}
.banner form {
  border-radius: 3px;
  background-color: #fff;
}
.banner form .fields {
  padding: 18px 40px 26px;
}
.banner form .field {
  padding: 16px 0;
}
.banner h3 {
  background-color: #f5f5f5;
  font-size: 1.43em;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
}
.banner h3 span {
  color: #ff8b38;
  text-transform: uppercase;
}
.banner .field-button {
  box-shadow: none;
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}
.brand {
  padding: 25px 0 30px;
  background-color: #fff;
}
.brand .col {
  vertical-align: middle;
}
.brand .social {
  text-align: center;
}
.brand .social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  font-size: 42.5px;
  line-height: 1.1;
}
.brand .social a,
.brand .social a i {
  color: inherit;
}
.brand .social a {
  color: #ccc;
  transition: color .2s ease-in-out;
  margin: 0 20px;
}
.brand .social a:hover {
  color: #666;
}
.features {
  background-color: #f5f5f5;
  padding: 140px 0 110px;
}
.tab-nav a {
  display: block;
  max-width: 110px;
  font-size: 1.05em;
  margin: 1px;
  background-color: #333;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0;
  transition: background-color .2s ease-in-out;
  font-weight: bold;
}
.tab-nav a:hover,
.tab-nav a.active {
  background-color: #ff8b38;
}
.tabs-content .tab-item {
  display: none;
  position: relative;
}
.tabs-content .tab-item-text {
  padding-left: 20px;
}
.tabs-content .tab-item-image {
  padding-top: 20px;
  text-align: right;
}
.tabs-content .tab-item-image img {
  width: auto;
  max-width: 100%;
}
.tabs-content h2 {
  margin-bottom: 40px;
}
.tabs-content p {
  margin-bottom: 17px;
  line-height: 1.6;
}
.tabs-content a.btn {
  margin-top: 30px;
}
.features-list {
  padding: 100px 0;
}
.features-list.style-1 {
  background-color: #fff;
}
.features-list.style-1 .image {
  text-align: left;
}
.features-list.style-2 {
  background-color: #f5f5f5;
}
.features-list.style-2 .image {
  text-align: right;
}
.features-list h2:after {
  content: '';
  display: block;
  width: 64px;
  height: 2px;
  background-color: #ff8b38;
  margin: 25px 0;
}
.features-list p {
  margin-bottom: 15px;
}
.features-list img.thumb {
  box-shadow: 0 5px 20px rgba(0,0,0,0.8);
}
.process {
  background-color: #fff;
}
.process .row {
  text-align: center;
}
.process .item {
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 10px;
}
.process .item:hover .icon span {
  background-color: #ff8b38;
  color: #fff;
}
.process .item .icon span {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 66.5px;
  font-size: 32px;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid #ff8b38;
  text-align: center;
  color: #ff8b38;
  background-color: #fff;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
.process .item .icon,
.process .item h2 {
  margin-bottom: 20px;
}
.process .item p {
  color: #86878b;
}
.pricing {
  background-color: #f5f5f5;
}
.pricing .row {
  text-align: center;
}
.pricing .item {
  vertical-align: bottom;
  padding: 10px 20px;
  margin-bottom: 10px;
  transform: scale(1);
  transition: transform .2s ease-in-out;
  max-width: 400px;
}
.pricing .item:hover {
  transform: scale(1.01);
}
.pricing main,
.pricing header {
  color: #fff;
  background-color: #333;
  text-align: center;
}
.pricing header {
  padding: 17px 5px;
  border-bottom: 1px solid #fff;
  font-size: 1.43em;
  line-height: 1.2;
  font-weight: bold;
}
.pricing main {
  padding: 20px 0 0;
  margin-bottom: 1px;
}
.pricing .price,
.pricing .currency {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.pricing .price {
  font-size: 94px;
  line-height: 1;
  margin-bottom: 15px;
}
.pricing .currency {
  font-size: 35px;
}
.pricing .subcard {
  opacity: 0.5;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 15px;
}
.pricing .extra {
  border-bottom: 4px solid #ff8b38;
  background-color: #ff8b38;
  line-height: 2.5;
  text-transform: uppercase;
}
.pricing ul {
  list-style: none;
}
.pricing ul li {
  background-color: #fff;
  text-align: center;
  display: block;
  color: #86878b;
  padding: 10px 5px;
  margin-bottom: 1px;
  text-transform: uppercase;
  transition: background-color .2s ease-in-out;
}
.pricing ul li:hover {
  background-color: #f2f2f2;
}
.testimonials .row {
  text-align: center;
}
.testimonials .item {
  text-align: left;
  padding: 10px 25px;
  max-width: 400px;
}
.testimonials blockquote {
  background-color: #f5f5f5;
  font-style: italic;
  color: #86878b;
  padding: 20px 10px;
  border-radius: 4px;
  margin: 0;
  position: relative;
}
.testimonials blockquote:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 25px;
  border-top: 10px solid #f5f5f5;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.testimonials .quote-author {
  padding: 20px 0;
}
.testimonials .author-photo,
.testimonials .author-info {
  vertical-align: middle;
}
.testimonials .author-photo {
  padding-right: 10px;
}
.testimonials .author-photo img {
  width: auto;
  max-width: 100%;
}
.testimonials p.title {
  font-size: 1.43em;
  color: #333;
  font-weight: 700;
}
.callto {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../img/callto.jpg");
  padding: 60px 0;
  text-align: center;
  color: #fff;
}
.callto h2 {
  font-size: 2.57em;
  font-weight: normal;
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 0.02em;
}
.callto h2:after {
  content: '';
  display: block;
  width: 64px;
  height: 2px;
  background-color: #fff;
  margin: 28px auto;
}
.callto p {
  opacity: 0.8;
  font-weight: 300;
  font-size: 1.1em;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 28px;
}
.contact-us .field {
  padding: 10px 15px;
}
.contact-us textarea {
  min-height: 148px;
  resize: none;
}
.contact-us .submit-btn {
  padding-top: 30px;
  text-align: center;
}
.main-footer {
  background-color: #000;
  text-align: center;
  color: rgba(255,255,255,0.5);
  padding: 15px 5px 8px;
  font-size: 0.9em;
}
.main-footer .social {
  text-align: center;
}
.main-footer .social a {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: 10px;
  font-size: 19.55px;
  line-height: 1.1;
}
.main-footer .social a,
.main-footer .social a i {
  color: inherit;
}
.main-footer .social a {
  color: #ccc;
  transition: color .2s ease-in-out;
}
.main-footer .social a:hover {
  color: #fff;
}
@media screen and (max-width: 1025px) {
  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.14em;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
  }
  h2,
  h3 {
    color: #333;
    font-size: 1.14em;
  }
  .tab-nav {
    margin-bottom: 20px;
    text-align: center;
  }
  .tab-nav a {
    display: inline-block;
    width: auto;
    max-width: none;
    padding: 13px 20px;
  }
  .features-list .image,
  .features-list .text {
    padding: 10px 15px;
  }
  ul.sublist li {
    padding: 5px 0;
  }
  ul.sublist p {
    margin-left: 50px;
  }
  .pricing .item {
    padding: 10px 5px;
  }
  .testimonials .item {
    padding: 10px 15px;
  }
  .testimonials p.title {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 769px) {
  .brand .social a {
    width: 30px;
    height: 30px;
    font-size: 28.5px;
    margin: 5px;
  }
  .pricing .item:hover {
    transform: scale(1);
  }
}
@media screen and (max-width: 641px) {
  html {
    font-size: 12px;
  }
  .xs-mb {
    margin-bottom: 25px;
  }
  .xs-mb:last-of-type {
    margin-bottom: 0;
  }
  .tabs-content .tab-item-image {
    text-align: center;
  }
  .tabs-content .tab-item-text {
    padding-left: 0;
  }
  .row {
    padding-left: 10px;
    padding-right: 10px;
  }
  .toggle {
    display: block;
  }
  .banner {
    padding: 150px 0 50px;
  }
  .features-list .image {
    text-align: center !important;
    margin-bottom: 10px;
  }
  .features,
  .features-list,
  .box {
    padding: 50px 0;
  }
  .main-nav {
    text-align: center;
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 0;
    left: 10px;
    right: 10px;
    width: auto;
    top: 60px;
    z-index: 9;
  }
  .main-nav.active {
    display: block;
  }
  .main-nav a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .process .item {
    padding: 5px;
  }
  .process .item .icon span {
    width: 50px;
    line-height: 47.5px;
    height: 50px;
    font-size: 22px;
  }
  .box-title h2,
  .callto h2 {
    font-size: 2em;
  }
}
